@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  height: 100px;
  box-shadow: 1px 1px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 20;
  position: relative;
  top: 0px;
}
header img {
  width: 45%;
}

main {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#top .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#top .home h1 {
  text-align: center;
  width: 60%;
}

.location {
  position: relative;
  background: #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0px;
  z-index: 0;
  font-weight: 900;
  color: #353535;
}

/*------------------*/
#fonctionnement {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tip {
  height: 100px;
  width: 70%;
  border-radius: 25px;
  box-shadow: 1px 1px 20px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.fonc-list {
  position: absolute;
  top: 500px;
  left: 5px;
  height: 320px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.numbers {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  font-weight: 900;
  color: #FFF;
}

/*------------------*/
#restaurant {
  height: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1200px;
}

.card {
  height: 250px;
  width: 350px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card .card-img {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;
}
.card:first-child > .card-img {
  background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.card:nth-child(2) > .card-img {
  background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.card:nth-child(3) > .card-img {
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.card:last-child > .card-img {
  background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.card-content {
  display: flex;
  flex-direction: row;
}

.card-text {
  margin: 10px 0px 20px 15px;
  width: 80%;
}
.card-text h3 {
  margin: 0;
}

.card-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #d3d3d3;
}

/*---Typographie---*/
.text-center {
  text-align: center;
  width: 70%;
}

.btn {
  border: none;
  height: 50px;
  padding: 20px;
  border-radius: 50px;
  color: white;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%, rgb(0, 212, 255) 100%);
}

.box-shadow {
  box-shadow: 1px 1px 20px 1px;
}

footer {
  background: #282828;
  color: white;
  margin-top: 50px;
}
footer .title {
  font-family: "Shrikhand", cursive;
}
footer ul {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li a:visited {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
