@charset "UTF-8";

.price {
  font-size: 14px;
  margin: auto;  
}

.category-title {
  align-self: start;
  position: relative;
  left: 20px;
  border-bottom: 2px solid #99E2D0;
}

.category {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  row-gap: 20px;
}
.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 20px;
  padding: 0px 0px 0px 10px;
  font-size: 18spx;
  animation: 1 ease-in 1s apparition;
  overflow: hidden;
}
.category-item .item-text{
  width: 65%;
  white-space: nowrap;
  font-size:14px ;
}
.item-text sub {
  font-size: 13px;
  color:rgb(161, 161, 161)
}
.category-item:hover .select {
  animation: 1 forwards 1s slideleft;
}
.category .select {
  width: 25%;
  height: 100%;
  border-radius: 0 20px 20px 0;
  background: #99E2D0;
  position: relative;
  left: 30%;
  display: flex;
  
  align-items: center;
}

.fa-circle-check{
  font-size: 16px;
  color: white;
  opacity: 1;
  position: relative;
  left: 30px;
}

@keyframes apparition {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    transform: translateY(5px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideleft {
  100% {
    left: 0%;
  }
}
.menu-title {
  font-family: "Shrikhand", cursive;
  margin-left: 5%;
}

.price {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  height: 45%;
}

.entrée {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
  position: relative;
  bottom: 50px;
}

.title {
  align-self: flex-start;
  margin-left: 10%;
}

.menu-main-1 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: 120%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.menu-main-2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: 120%;
  background-position: 0px 0px;
  background-repeat: no-repeat;    
}

.menu-main-3 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 120%;
  background-position: 0px 0px;
  background-repeat: no-repeat;    
}

.menu-main-4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 120%;
  background-position: 0px 0px;
  background-repeat: no-repeat;   
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.order-btn {
  width: 80%;
}

@media all and (min-width: 1920px) {
  .category{
    width: 50%;
  }
  .entrée{
    width: 50%;
    margin: auto;
    border-radius: 0;
  }
  .entrée-1{
    border-radius: 25px 25px 0 0;
  }
  .entrée-last{
    border-radius: 0 0 25px 25px;
  }
  .btn-container{
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding-bottom: 50px;
    position: relative;
    bottom: 50px;
  }
  .menu-main-1, .menu-main-2, .menu-main-3, .menu-main-4 {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: 130%;
    background-position: -120px 0px;
    background-repeat: no-repeat;
  }
  
}
.fa-arrow-left {
  font-size: 32px;
  color: black;
  margin: 0;
  padding-right: 0;
}

/*# sourceMappingURL=menu-1.css.map */
